<div class="container" *ngIf="myFunctions">
<div class="card">
  <h2>App counter: {{counterService.counter}}</h2>
  <button class="btn btn-minus" (click)="myFunctions.decrease()">-</button>
  <button class="btn btn-plus" (click)="myFunctions.increase()">+</button>
</div>
</div>

<!--<p [appStyle]="'red'" fontWeight="bold" > Lorem ipsum dolor sit amet, consectetur adipisicing elit.-->
<!--  Dignissimos, voluptas!</p>-->
<!--<p [appStyle]="'red'" [dStyles]="{-->
<!--                              border:'1px solid blue',-->
<!--                              borderRadius:'5px',-->
<!--                              fontWeight:'bold'-->

<!--                                             }"-->
<!--&gt;-->
<!--  Lorem ipsum dolor sit amet,-->
<!--  consectetur-->
<!--  adipisicing elit.-->
<!--  Dignissimos, voluptas!</p>-->
<!--<button    (click)="isVisible = !isVisible" class="btn" >toggle</button>-->
<!--<ng-template [ngIf]="isVisible">-->
<!--  <div  class="wrap">-->
<!--    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Libero, vel?</p>-->
<!--    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Libero, vel?</p>-->
<!--  </div>-->
<!--</ng-template>-->

<!--<div  class="wrap" *appIfnot="!isVisible">-->
<!--  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Libero, vel?</p>-->
<!--  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Libero, vel?</p>-->
<!--</div>-->

<!--<ng-template [appIfnot]="!isVisible">-->
<!--  <div  class="wrap">-->
<!--    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Libero, vel?</p>-->
<!--    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Libero, vel?</p>-->
<!--  </div>-->
<!--</ng-template>-->
